<div [formGroup]="sortValueFormGroup">
  <div *ngFor="let item of sortValues; let i = index">
    <input
      type="radio"
      formControlName="sortMethod"
      id="radio{{ i }}"
      name="sortMethod"
      [value]="item.sortId"
    />
    <label class="custom-control-label" for="radio{{ i }}">
      {{ item.sortValueBy || '?' }}
    </label>
  </div>
</div>

<button (click)="backButton()">Back</button>
{{ sortValueFormGroup.controls['sortMethod'].value }}
{{ getvalueById(sortValueFormGroup.controls['sortMethod'].value) | json }}
