{{ searchValues.pickUpLocation }} <br />

{{ searchValues.pickUpTime + '-' + searchValues.dropOffTime }}

<div
  class="row box p-2 mb-2"
  *ngFor="let vehicle of vehicleDetails.carMockItineraries.CarItineraries"
>
  <div style="display: flex;">
    <div class="image p-2 pt-4">
      <img src="{{ vehicle.vehicle.image }}" alt="car" style="width:80px" />
    </div>

    <div class="content p-2">
      <h5>{{ vehicle.vehicle.type }}</h5>
      <h6>{{ vehicle.vehicle.name }}</h6>
      <ul style="list-style: none;padding: 0;margin: 0; display: flex;">
        <li>
          <i
            class="material-icons"
            style="
          vertical-align: sub;     padding-right: 2px;
      "
          >
            groups
          </i>
          <span>
            {{ vehicle.vehicle.specifications.passengerCapacity }}
          </span>
        </li>
        &nbsp; &nbsp;
        <li>
          <span
            class="material-icons"
            style="
          vertical-align: sub; 
      "
            >work_outline</span
          >
          <span> {{ vehicle.vehicle.specifications.baggageCapacity }}</span>
        </li>
        &nbsp; &nbsp;
        <li>
          <span
            class="material-icons"
            style="
          vertical-align: sub;     padding-right: 5px;
      "
            >speed</span
          >
          <span>{{ vehicle.unlimitedMileage ? unlimitedMiles : '' }}</span>
        </li>
        &nbsp; &nbsp;
      </ul>
    </div>
  </div>
  <p>
    <span style="color: green; font-weight: bold">Free cancellation </span
    >untill
    {{
      vehicle.cancellationDetails.freeCancellationEndDate
        | date: 'EEEE, MMMM d, y'
    }}
  </p>
  <div class="bottom-text" style="border-top:2px solid #f0f0f0">
    <p class="m-0 mb-1">
      <span style="color: green; font-size:16px;  font-weight: bold"
        >${{ vehicle.fare.perDay }}</span
      >
      avg/day
    </p>
    <p>
      <span>Total(23):</span>
      <span style="font-weight: bold">{{ vehicle.fare.totalAmount }}</span>
    </p>
  </div>
</div>

<div stle="position:sticky; top:0">
  <button (click)="sortResults()">Sort</button>
  <button type="submit">Filter</button>
</div>
