<!-- <app-nav-bar></app-nav-bar> -->
<div class="container-fluid px-4">
  <form class="row mt-3" [formGroup]="carsSearchForm" (ngSubmit)="searchCars()">
    <div class="col-12">
      <label>Pick Up Location</label>
      <input
        type="text"
        formControlName="pickUpLocation"
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted && formControls['pickUpLocation'].errors
        }"
      />
      <div
        *ngIf="submitted && formControls['pickUpLocation'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="formControls['pickUpLocation'].errors['required']">
          Pick up location is required
        </div>
      </div>
    </div>
    <div class="col-6 mt-3">
      <label>Pick up Date</label>
      <input
        type="date"
        name="begin"
        placeholder="dd-mm-yyyy"
        value=""
        min="{{ currentDate | date: 'yyyy-MM-dd' }}"
        formControlName="pickUpDate"
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted && formControls['pickUpDate'].errors
        }"
      />
      <div
        *ngIf="submitted && formControls['pickUpDate'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="formControls['pickUpDate'].errors['required']">
          Pick up date is required
        </div>
      </div>
    </div>
    <div class="col-6 mt-3">
      <label>Drop off date</label>
      <input
        type="date"
        name="begin"
        placeholder="dd-mm-yyyy"
        value=""
        min="{{
          formControls['pickUpDate'].value
            ? (formControls['pickUpDate'].value | date: 'yyyy-MM-dd')
            : (currentDate | date: 'yyyy-MM-dd')
        }}"
        formControlName="dropOffDate"
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted && formControls['dropOffDate'].errors
        }"
      />
      <div
        *ngIf="submitted && formControls['dropOffDate'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="formControls['dropOffDate'].errors['required']">
          Drop off date is required
        </div>
      </div>
    </div>
    <div class="col-6 mt-3">
      <label>Pick up Time</label>
      <input
        type="time"
        name="begin"
        placeholder="dd-mm-yyyy"
        formControlName="pickUpTime"
        class="time-picker"
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted && formControls['pickUpTime'].errors
        }"
      />
      <div
        *ngIf="submitted && formControls['pickUpTime'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="formControls['pickUpTime'].errors['required']">
          Pick up time is required
        </div>
      </div>
    </div>
    <div class="col-6 mt-3">
      <label>Drop off Time</label>
      <input
        class="time-picker"
        type="time"
        name="begin"
        placeholder="dd-mm-yyyy"
        formControlName="dropOffTime"
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted && formControls['dropOffTime'].errors
        }"
      />
      <div
        *ngIf="submitted && formControls['dropOffTime'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="formControls['dropOffTime'].errors['required']">
          Drop off time is required
        </div>
      </div>
    </div>
    <div class="col-12 mt-3">
      <label for="ageOfDriver">Age of Driver</label>
      <select
        formControlName="ageOfDriver"
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted && formControls['ageOfDriver'].errors
        }"
      >
        <!-- <option disabled>Select Age</option> -->
        <option>Select age</option>
        <option *ngFor="let age of ageList">
          {{ age == 25 ? age + '+' : age }}
        </option>
      </select>
      <div
        *ngIf="submitted && formControls['ageOfDriver'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="formControls['ageOfDriver'].errors['required']">
          Driver is required
        </div>
      </div>
    </div>
    <div class="col-12 mt-3 d-grid">
      <button class="btn btn-primary search-button">Search Rental Cars</button>
    </div>
  </form>
</div>
<!-- <form [formGroup]="carsSearchForm" (ngSubmit)="searchCars()">
  <div class="form-row">
    <div class="form-group">
      <label>Pick Up Location</label>
      <input
        type="text"
        formControlName="pickUpLocation"
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted && formControls['pickUpLocation'].errors
        }"
      />
      <div
        *ngIf="submitted && formControls['pickUpLocation'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="formControls['pickUpLocation'].errors['required']">
          Pick up location is required
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-6">
      <label>Pick up Date</label>
      <input
        type="date"
        name="begin"
        placeholder="dd-mm-yyyy"
        value=""
        min="{{ currentDate | date: 'yyyy-MM-dd' }}"
        formControlName="pickUpDate"
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted && formControls['pickUpDate'].errors
        }"
      />
      <div
        *ngIf="submitted && formControls['pickUpDate'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="formControls['pickUpDate'].errors['required']">
          Pick up date is required
        </div>
      </div>
    </div>
    <div class="form-group col-6">
      <label>Drop off date</label>
      <input
        type="date"
        name="begin"
        placeholder="dd-mm-yyyy"
        value=""
        min="{{ currentDate | date: 'yyyy-MM-dd' }}"
        formControlName="dropOffDate"
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted && formControls['dropOffDate'].errors
        }"
      />
      <div
        *ngIf="submitted && formControls['dropOffDate'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="formControls['dropOffDate'].errors['required']">
          Drop off date is required
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <label>Pick up Time</label>
      <input
        type="time"
        name="begin"
        placeholder="dd-mm-yyyy"
        value=""
        min="get"
        max="2030-12-31"
        formControlName="pickUpTime"
      />
    </div>
    <div class="form-group col">
      <label>Drop off Time</label>
      <input
        type="time"
        name="begin"
        placeholder="dd-mm-yyyy"
        value=""
        min="1997-01-01"
        max="2030-12-31"
        formControlName="dropOffTime"
      />
    </div>
  </div>

  <div class="form-group">
    <label for="ageOfDriver">Age of Driver</label>
    <select formControlName="ageOfDriver" class="form-control">
      <option>Select age</option>
      <option *ngFor="let age of ageList">
        {{ age == 25 ? age + '+' : age }}
      </option>
    </select>

    <div
      *ngIf="
        formControls['ageOfDriver'].touched &&
        formControls['ageOfDriver'].invalid
      "
      class="alert alert-danger"
    >
      <div
        *ngIf="
          formControls['ageOfDriver'].errors &&
          formControls['ageOfDriver'].errors['required']
        "
      >
        Age is required
      </div>
    </div>
  </div>
  <button class="btn btn-primary mr-1">Search Rental Cars</button>
</form> -->
<!-- <router-outlet></router-outlet> -->
