<!-- <app-nav-bar></app-nav-bar> -->
<form [formGroup]="carsSearchForm" (ngSubmit)="searchCars()">
  <div class="form-row">
    <div class="form-group">
      <label>Pick Up Location</label>
      <input
        type="text"
        formControlName="pickUpLocation"
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted && formControls['pickUpLocation'].errors
        }"
      />
      <div
        *ngIf="submitted && formControls['pickUpLocation'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="formControls['pickUpLocation'].errors['required']">
          Pick up location is required
        </div>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <label>Pick up Date</label>
      <input
        type="date"
        name="begin"
        placeholder="dd-mm-yyyy"
        value=""
        min="1997-01-01"
        max="2030-12-31"
        formControlName="pickUpDate"
      />
    </div>
    <div class="form-group col">
      <label>Drop off date</label>
      <input
        type="date"
        name="begin"
        placeholder="dd-mm-yyyy"
        value=""
        min="1997-01-01"
        max="2030-12-31"
        formControlName="dropOffDate"
      />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <label>Pick up Time</label>
      <input
        type="time"
        name="begin"
        placeholder="dd-mm-yyyy"
        value=""
        min="get"
        max="2030-12-31"
        formControlName="pickUpTime"
      />
    </div>
    <div class="form-group col">
      <label>Drop off Time</label>
      <input
        type="time"
        name="begin"
        placeholder="dd-mm-yyyy"
        value=""
        min="1997-01-01"
        max="2030-12-31"
        formControlName="dropOffTime"
      />
    </div>
  </div>

  <!-- Drop down -->

  <div class="form-group">
    <label for="ageOfDriver">Age of Driver</label>
    <select formControlName="ageOfDriver" class="form-control">
      <!-- <option disabled>Select Age</option> -->
      <option>Select age</option>
      <option *ngFor="let age of ageList">
        {{ age == 25 ? age + '+' : age }}
      </option>
    </select>

    <div
      *ngIf="
        formControls['ageOfDriver'].touched &&
        formControls['ageOfDriver'].invalid
      "
      class="alert alert-danger"
    >
      <div
        *ngIf="
          formControls['ageOfDriver'].errors &&
          formControls['ageOfDriver'].errors['required']
        "
      >
        Age is required
      </div>
    </div>
  </div>
  [disabled]="true"
  <button class="btn btn-primary mr-1">Search Rental Cars</button>
</form>
<router-outlet></router-outlet>
